@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
/* Colors */
/*
blue = #337ab7
green = #58b02d
light-gray = #fafafa
mid-gray = #777777
*/
/* Media Queries */
/*
Small
@media only screen and (max-width: 480px) {
}
Medium
@media only screen and (max-width: 767px) {
}
Large
@media only screen and (max-width: 991px) {
}
Extra large
@media only screen and (max-width: 1199px) {
}
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
  display: table;
}
.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.navbar-brand {
  height: auto;
}
.navbar-brand img {
  display: block;
  height: 50px;
  vertical-align: top;
  width: auto;
}
@media only screen and (max-width: 767px) {
  .navbar-nav {
    background-color: black;
  }
}
.navbar-nav li a {
  color: #777777;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}
.navbar-nav li a:hover {
  background-color: transparent;
  color: #58b02d;
}
@media only screen and (max-width: 767px) {
  .navbar-nav li a {
    padding: 0 25px;
  }
}
#mainCarousel {
  background-color: black;
}
.item {
  background-image: url("../images/slide-01-bg.jpg");
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding-bottom: 50px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .item {
    height: 100vh;
  }
}
.item:nth-child(2) {
  background-image: url("../images/slide-02-bg.jpg");
}
.item:nth-child(3) {
  background-image: url("../images/slide-03-bg.jpg");
}
.carousel-content {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
@media only screen and (max-width: 767px) {
  .carousel-content {
    width: 80%;
  }
}
.carousel-content h2{
  color: white;
  font-size: 3em;
  font-weight: 300;
  letter-spacing: .05em;
  margin: 0 auto 30px auto;
  max-width: 600px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
@media only screen and (max-width: 1199px) {
  .carousel-content h2{
    font-size: 2.75em;
    max-width: auto;
    width: 75%;
  }
}
@media only screen and (max-width: 991px) {
  .carousel-content h2{
    font-size: 2.5em;
    width: auto;
  }
}
@media only screen and (max-width: 767px) {
  .carousel-content h2{
    font-size: 1.5em;
  }
}
.carousel-content h3 {
  color: white;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: .05em;
  margin: 30px auto 0 auto;
  max-width: 900px;
  text-align: center;
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .carousel-content h3{
    width: auto;
  }
}
.bootcamp {
  padding-top: 60px;
  text-align: center;
}
.bootcamp h2 {
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.bootcamp img {
  display: block;
  margin: 50px auto 0 auto;
  vertical-align: top;
}
.enquiry {
  background-color: #fafafa;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding: 60px 0;
  text-align: center;
}
.enquiry h2 {
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.enquiry .btn {
  margin: 20px 0;
}
.footer__items {
  padding: 70px 15px;
}
.footer__items h5 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer__items p {
  line-height: 1.5em;
}
.footer__items p a {
  color: #337ab7;
  font-weight: 700;
  text-decoration: none;
}
.footer__items p + p {
  margin-top: 10px;
}
.footer__items form {
  margin-top: 10px;
}
.footer__items form input[type=email] {
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 1em;
  outline: none;
  padding: 10px;
}
.footer__items form button {
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 1em;
  outline: none;
  padding: 10px;
  transition: all .3s ease-in-out;
}
.footer__items form button:hover {
  background-color: #337ab7;
  color: white;
}
.footer__copyright {
  background-color: black;
  padding-bottom: 30px;
  padding-top: 30px;
}
.footer__copyright p {
  color: white;
  font-weight: 300;
  letter-spacing: .05em;
  margin: 0;
  text-transform: uppercase;
}